/*
 * Copyright (c) 2023, Fabian Blatz <fabianblatz@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&sdl_dc {
	compatible = "zephyr,sdl-dc";
	height = <900>;
	width = <480>;
};

/ {
	wifi0: wifi {
		compatible = "zephyr,native-sim-wifi";
		/* hwsim STA from scripts/bring-up-dev-iface.sh. For the real card,
		 * build with -DEXTRA_DTC_OVERLAY_FILE=overlays/real-card.overlay.
		 */
		host-interface = "zwifi";
		zephyr,random-mac-address;
	};
};
